/*styiling colonne*/

[class*="col-"]{
    /*DEBUG*/
   min-height: 50px;
   background-color: blue;
   color: white;
   text-align: center;
   align-content: center;
   border: solid 0.1rem white;
}

.green{
    background-color: green;
    border-color:blue ;
    padding: 0.2rem;
}
.big{
    background-color: blue;
    min-height: 70px; ;
    border: solid 0.2rem white;
    padding: 10px;
}